*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.part{
    position: relative;
    top: 100px;
  }
  
.part p{
    position: relative;
    text-align: justify;
    width: 50%;
    left: 20em;
    padding-top: 15px;
    line-height: 24.5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.part-um{
    position: relative;
    margin-bottom: 50px;
}
  
.titul-p{
    margin-top: 8px;
}
  
.titul{
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    left: 10em;
    padding-top: 20px;
    color: var(--azul_tr);
    text-align: center;
}
  
  .part h3,h5,h4{
      position: relative;
      text-align: left;
      width: 50%;
      left: 16em; 
      padding-top: 17px;
      font-size: 20px;
      line-height: 18px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: var(--azul_tr);   
}

hr{
    position: relative;
    width: 55%;
    left: 19.5em;
    top: 25px;
    margin-top: 50px;
    border: 0px;
    border-top: 3px solid var(--azul_tu);
}

.obs{
    position: relative;
    left: 15rem;
    background-color: var(--branco_c);
    padding: 20px 40px; 
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: 40px;
    border-radius: 10px;
    width: 75%;
    line-height: 20px;
}

.obs_p{
    margin-top: -20px;
}