:root{
    --azul_escuro:#03045e;
    --azul_mc:#023e8a;
    --azul_be:#0077b6;
    --azul_mb:#0096c7;
    --azul_ca:#0096c7;
    --azul_cc:#48cae4;
    --azul_mt:#90e0ef;
    --azul_mtc:#ade8f4;
    --azul_tr:#5473ff;
    --azul_ta:#6a7cf3;
    --azul_tu:#9bb1ff;
    --azul_te:#e2fdff;
}

.etapa{
    position: relative;
    padding: 10px 20px;
    width: 50%;
    text-align: justify;
    top: 100px;
    left: 20em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.etapa p{
    line-height: 24.5px;
    padding-top: 20px 0;
    margin-bottom: 50px;
}

.etapa h3,h5,h6{
    padding-top: 15px 0; 
    font-size: 20px;
    margin-top: 25px;
    color: var(--azul_tr);
}

#titulo{
    font-size: 30px;
    margin-bottom: 30px;
}

.lista-dois h5,ul{
    position: relative;
    margin-top: 20px; 
}

.lista-dois ul,li,a{
    padding: 10px;
    margin: 10px 20px;
}

.lista-dois ul{
    list-style: none;
}

.lista-dois>ul li:before{
    content: '\2022';
    color: var(--azul_ta);
    margin:0 5px;
    padding: 20px;
    font-weight: bold;
}

.categoria{
    margin-top: 60px;
    margin-bottom: 80px;
  
}

.categoria>h5{
    padding-bottom: 20px;
}


.import{
    margin-top: 40px;
    margin-bottom: 60px;
    background-color: var(--branco_c);
    padding: 40px 60px;
    padding-top: 40px;   
    border-radius: 10px;
}

.estrutura{
    margin-top: 5px;
    margin-bottom: 40px;
}

#peao{
  position: relative;
  padding-bottom: 20px;
}

#abepao{
    font-size: 25px;
    padding-bottom: 0px;
    margin: 60px 0;
}

.estrutura>h5{
    padding: 0px 0;
    font-size: 18px;
}

.estrutura>p{
    padding-top: 50px;
}

.obs{
   background-color: var(--branco_c);
   padding: 40px 60px; 
   margin-bottom: 80px;
   border-radius: 10px;
}

hr{
    position: relative;
    width: 110%;
    border-top: 4px solid var(--azul_tu);
}

.formacao{
    margin: 40px 0;  
}

.formacao>h5,h6{
    font-size: 18px;
    padding: 15px 0;
    text-align: left;
    margin-bottom: 10px;  
}

.formacao>p{
    position: relative;
    margin: 20px 0;
    line-height: 20px;
    margin-bottom:28px;
    padding-top: 0px;
    padding-bottom: 20px;
}

#tituf{
    font-size: 30px;   
}

.obs-dois{
    background-color: var(--branco_c);
    padding: 40px 60px; 
    margin-bottom: 80px;
    border-radius: 10px;
}

.est img{
    width: 50%;
}

.est{
    text-align: center;
}

@media (min-width:320px) and (max-width:425px){
    .etapa{
        height: auto;
        left: 1.5em;
        width: 96%;
        padding: 10px 13px;
    }
    #titulo{
        font-size: 25px;
    }p{
        font-size: 12px;
        width: 100%;
        height: auto;
    }
    .etapa h5,#abepao{
        font-size: 18px;
        width: 100%;
    }
    .etapa h3{
        font-size: 18px;
        width: 100%;
    }
    .etapa h4{
        font-size: 16px;
        width: 100%;
    }.import{
        width: 100%;
        padding: 5px 20px;
    }.import p{
        padding-top: 10px;
    }
    .obs{
        padding: 5px 15px;
    }.obs p{
        padding-top: 10px;
    }.obs-dois{
        width: 100%;
        padding: 10px 15px;
    }.obs-dois p{
        padding-top: 10px;
    }
}