<<<<<<< HEAD


=======
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
>>>>>>> 053db9b69ff85c4dc06aaa26be947739e7c95c23

:root{
    --azul_escuro:#03045e;
    --azul_mc:#023e8a;
    --azul_be:#0077b6;
    --azul_mb:#0096c7;
    --azul_ca:#0096c7;
    --azul_cc:#48cae4;
    --azul_mt:#90e0ef;
    --azul_mtc:#ade8f4;
    --azul_tr:#5473ff;
    --azul_ta:#6a7cf3;
    --azul_tu:#9bb1ff;
    --azul_te:#e2fdff;
  }

 /*Introdução do aluno*/

<<<<<<< HEAD

 .introducao{
  position: relative;
  padding: 10px 20px;
  width: 50%;
  text-align: justify;
  top: 100px;
  left: 20em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }
  #title{
    font-size: 30px;
    color: var(--azul_tr);
    margin-top: 0;
}

.introducao h3{
  font-size: 20px;
  color: var(--azul_tr);
  margin-bottom: 25px;
  margin-top: 60px;
}

/* Letras */


.introducao h5,h4{
  position: relative;
  text-align: left;
  font-size: 18px;
  color: var(--azul_tr);
=======
 .parte{
    position: relative;
    top: 100px;
  }
  
.parte p{
    position: relative;
    text-align: justify;
    width: 50%;
    left: 20em;
    padding-top: 15px;
    line-height: 24.5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.parte-um{
  position: relative;
  margin-bottom: 50px;
}

#p-titul{
  margin-top: 8px;
}

#titulo{
  font-size: 30px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 20px;
  left: 10em;
  padding-top: 20px;
  color: var(--azul_tr);
}

.parte h3,h5,h4{
    position: relative;
    text-align: left;
    width: 50%;
    left: 16em; 
    padding-top: 17px;
    font-size: 20px;
    line-height: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--azul_tr);   
}

.parte .valor,.image{
     margin-top: 20px;
>>>>>>> 053db9b69ff85c4dc06aaa26be947739e7c95c23
}

strong{
  color: var(--azul_mb);
  font-weight: bold;
}



/* Tabela de  peça */


.valor{
  position: relative;
  padding-top: 30px;
<<<<<<< HEAD
=======
  left: 21em;
>>>>>>> 053db9b69ff85c4dc06aaa26be947739e7c95c23
}

.pq h4{
  font-size: 25px;
}

.pq{
  position:relative;
  margin-top: 60px;
  margin-left: 0;
}
.pq>img{
  width: 70%;  
}

/*tabela de valores das peças*/


.conteiner_dois{
  margin: 70px 0;
}
.conteiner_dois h4{
  font-size: 20px;
}


.tabela{
  position: relative;
<<<<<<< HEAD
  margin: 48px 0;
=======
  width: 55%;
  left: 19.5em;
  top: 25px;
  margin-top: 50px;
  border: 0px;
  border-top: 3px solid var(--azul_tu);
}

.peca{
    position:relative;
    top: 65px;
}

/*tabela*/

.tabela {
  position: relative;
  left: 22em;
  top: 40px;
>>>>>>> 053db9b69ff85c4dc06aaa26be947739e7c95c23
  border: 3px solid rgb(58, 58, 58);
  width: 90%;
  background-color: var(--azul_Ca);
<<<<<<< HEAD
  border-collapse: collapse;    
=======
  width: 11em;
  border-collapse: collapse;
>>>>>>> 053db9b69ff85c4dc06aaa26be947739e7c95c23
}

.tabela td{
  border: 2px solid rgba(241, 241, 241, 0.904);
  text-align: center;
  padding: 5px;
}

.tabela th{
  padding: 5px;
  font-size: 20px;
<<<<<<< HEAD
  background-color: var(--azul_ta);
  color: white;
  text-align: center;
}

=======
  background-color: var(--azul_Ca);
}

.tabela td{
  padding: 5px;
}

>>>>>>> 053db9b69ff85c4dc06aaa26be947739e7c95c23
.topo td{
    background-color: var(--azul_escuro);
    border: none;
    text-align: center;
<<<<<<< HEAD
    color: white;    
=======
    color: white;
>>>>>>> 053db9b69ff85c4dc06aaa26be947739e7c95c23
}


/* Sobre o Tabuleiro */

.tabuleiro{
<<<<<<< HEAD
  margin: 60px 0px;
}
.image{
  position: relative;
  width: 40%;
  float: left;
  padding-right: 20px;
  height: auto;
=======
   position: relative;
   top: 225px;
>>>>>>> 053db9b69ff85c4dc06aaa26be947739e7c95c23
}

.coluna h5{
  font-size: 18px;
  padding-top: 5px;
  color: black;
}

.tabuleiro h3{
<<<<<<< HEAD
  font-size: 25px;
}
.coluna p{
  font-size: 15px;
}

/* numero do tabuleiro */

.img-n{
  width: 40%;
=======
  font-size: 30px;
  padding: 20px;
  left: 10em;
  padding-top: 20px;
  color: var(--azul_tr);
}

.coluna{
  position: relative;
  top: 30px;
}

.coluna img{
>>>>>>> 053db9b69ff85c4dc06aaa26be947739e7c95c23
  float: left;
  padding-right: 20px;
  height: auto;
}

.num h5{
  padding:10px 0;
  font-size: 18px;
  color: black;
}
.num p{
  font-size: 15px;
}


/* video */

.conteiner h3{
  font-size: 25px;
  margin-bottom: 60px;
}
.conteiner{
  position: relative;
  margin-top: 150px;
}

.video iframe{
  left: 0px;
}



/*hr entre tabela e tabuleiro*/

hr{
  position: relative;
  border-top: 4px solid var(--azul_tu);  
  margin: 70px 0;
  
}

/* Tamanho do menu nas páginas */

aside {
  color: #fff;
  width: 250px;
  padding-left: 20px;
  height: 430vh;
  background-image: linear-gradient(30deg , #0048bd, #44a7fd);
  border-top-right-radius: 80px;
  position: absolute;
<<<<<<< HEAD
=======
  top: 450px;
}

.numero img{
  position: relative;
  float: left;
  margin-right: 20px;
}
 
.num{
  position: relative;
  float: right;
  top: 18px;
>>>>>>> 053db9b69ff85c4dc06aaa26be947739e7c95c23
}











