


:root{
    --azul_escuro:#03045e;
    --azul_mc:#023e8a;
    --azul_be:#0077b6;
    --azul_mb:#0096c7;
    --azul_ca:#0096c7;
    --azul_cc:#48cae4;
    --azul_mt:#90e0ef;
    --azul_mtc:#ade8f4;
    --azul_tr:#5473ff;
    --azul_ta:#6a7cf3;
    --azul_tu:#9bb1ff;
    --azul_te:#e2fdff;
  
  }
  
  
/*div pai de todos os elementos e conteiners*/
.etapa_dois{

    position: relative;
    padding: 10px 20px;
    width: 50%;
    text-align: justify;
    top: 100px;
    left: 20em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#titulo_um{
    font-size: 30px;
    color: var(--azul_tr);  
}

#p_um{
    margin-top: 8px;
    
}
.etapa_dois p{
    padding: 20px 0;
    margin-bottom: 16px;
    
}

.etapa_dois h5,h6{
    font-size: 20px;
    padding-top: 30px;
    margin-top: 20px;
    color:var(--azul_tr);
}

.etapa_dois ul,li{
    width: 95%;
    padding-bottom: 20px;
    margin-top: 25px;
  }

.etapa_dois ul{
  list-style: none;
    
}

.etapa_dois ul li:before{
  content: '\2022';
  color: var(--azul_ta);
  font-weight: bold;
  padding: 0 5px;
}


/*primeira observação*/

.obs_um{
    background-color: var(--branco_c);
    padding: 1px 20px; 
    margin-top: 20px;
    margin-bottom: 60px;
    border-radius: 10px;
    width: 100%;
    line-height: 20px;
}

#obs_p{
    margin-top: 2px;
}

hr{
  position: relative;
  border-top: 4px solid var(--azul_tu);  
  width: 110%;
  margin: 60px 0;
}

  .mediana{
   padding: 50px 0;
    
  }

  .mediana>h5{
    font-size: 30px;
    
  }

  .topico_dois{
    margin-bottom: 60px;
  }

  .obs_dois{
    background-color: var(--branco_c);
    padding: 1px 20px; 
    margin-top: 20px;
    margin-bottom: 60px;
    border-radius: 10px;
    width: 100%;
    line-height: 20px;

  }

  .topico_tres{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  #posicional{
    font-size: 30px;
    padding-bottom: 20px;
  }

.topico_quatro{
    padding-top: 40px;
    padding-bottom: 40px;
}

.topico_quatro p{
    margin-top: 10px;
}

.mj_bispo img{
  width: 38%;
}

.mj_bispo{
  text-align: left;
}

.conteiner{
  text-align: center;
}

/* Tamanho do menu nas páginas */

aside {
  color: #fff;
  width: 250px;
  padding-left: 20px;
  height: 1270vh;
  background-image: linear-gradient(30deg , #0048bd, #44a7fd);
  border-top-right-radius: 80px;
  position: absolute;
}

