*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.part{
    
    position: relative;
    padding: 10px 20px;
    width: 50%;
    text-align: justify;
    top: 100px;
    left: 25em;
    padding-bottom: 10%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
.part p{
    margin-bottom: 10px;

}
  
.titul-p{
    margin-top: 8px;
}
  
.titul{
    font-size: 30px;
    color: var(--azul_tr);
    margin-bottom: 20px;
    
}
  
  .part h3,h5,h4{
      position: relative;
      text-align: left;
      font-size: 20px;
      color: var(--azul_tr);
      padding-top: 20px;
}

.conteiner{
    margin-top: -10px;
    margin-bottom: -50px;
}

.conteiner #afogado{
    float: left;
    margin-right: 30px;    
}
.conteiner img{
    position: relative;
    width: 38%;

}
.conteiner #afogado_p{
    margin-top: -23px;
}

@media (max-width:  1920px) and (min-width:  1680px){
    .part{
      width: 39.8%;
      left: 40em;
    }
  }
  