

:root{
    --azul_escuro:#03045e;
    --azul_mc:#023e8a;
    --azul_be:#0077b6;
    --azul_mb:#0096c7;
    --azul_ca:#0096c7;
    --azul_cc:#48cae4;
    --azul_mt:#90e0ef;
    --azul_mtc:#ade8f4;
    --azul_tr:#5473ff;
    --azul_ta:#6a7cf3;
    --azul_tu:#9bb1ff;
    --azul_te:#e2fdff;
  
  }




*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.part{
    position: relative;
    padding: 10px 20px;
    width: 50%;
    padding-bottom: 40px;
    text-align: justify;
    top: 100px;
    left: 25em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  #cp{
    margin-top: 12%;
    margin-bottom: -5px;
  }
  
.part p{
    margin-bottom: 10px;
}

.part-um{
    position: relative;
    margin-bottom: 80px;
}
  
.titul-p{
    margin-top: 8px;
}
  
.titul{
    font-size: 30px;
    color: var(--azul_tr);
    text-align: center;
    margin-bottom: 20px;
}
  
  .part h3,h5,h4{
    font-size: 20px;
    margin-top: 20px;
    color:var(--azul_tr);
}

hr{
   
    border-top: 3px solid var(--azul_tu);
}

table{
  border: 0px solid white ;
  margin-bottom: 40px;
  
}
.roque img{
    position: relative;
    margin-top: 20px;
    width: 200px;
    height: 200px;
}

.roque td{
  padding-right: 50px;
  color:  black;
  font-weight: bold;
 
}

.conteiner{
    padding: 40px 0px;
  
  }
  
  
@media (max-width:  1920px) and (min-width:  1680px){
  .part{
    width: 39.8%;
    left: 40em;
  }
}
