
/*responsividade do menu e a da parte do aluno para celular*/

@media screen and (max-width:600px){
    nav.menu{
        width: 100%;
        
    }
}
@media screen and (max-width:600px){
    .menu #logo>a{
        position: relative;
        width: 50px;
        left: 20px;
        top: 14px;
        font-size: 15px;
        height: 60px;
    }
}

@media screen and (max-width:600px){
    .menu>ul>li>.link{
        float: left;
        position: relative;
        width: 90px;
        left: 65px;
        top: 10px;
        font-size: 15px;
        margin: 0px -10px; 
    }
}
/*menu da parte do aluno*/
 
@media screen and (max-width:600px){
    .box{
        width:100%;
    }
}
@media screen and (max-width:600px){
    .box img{
        left: 4px;
        
    }
}
@media screen and (max-width:600px){
    .box a{
        left: 17px;
        
        
        
    }
}
@media screen and (max-width:325px){
    .box a:hover{
        padding: 12px 5px;
         top: -13px;
       
        
    }
}
@media screen and (max-width:337px){
    .box a{
        font-size: 10.9px;    
        
    }
}
/*responsividade no ipad*/
@media screen and (max-width:1024px) and (min-width:768px){
    nav.menu{
        width: 105%;
   
        
    }
}

@media screen and (max-width:1024px) and (min-width:768px){
    header.box{
        width: 105%;
   
        
    }
}
@media screen and (max-width:1024px) and (min-width:768px){
    .menu>ul>li>.link{
        left: 420px;
   
        
    }
}

@media screen and (max-width:1024px) and (min-width:768px){
    .menu #logo a{
        left: 13%;
   
        
    }
}
