
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/*Cores*/
/*segunda cor
background-image: linear-gradient( to left,#8091AB,#B0C7EB,#B0C7EB);
TERCEIRA COR
background-image: linear-gradient( to top, white,#83c5Be,#006d77fb);*/
:root{
  --azul_escuro:#03045e;
  --azul_mc:#023e8a;
  --azul_be:#0077b6;
  --azul_mb:#0096c7;
  --azul_ca:#0096c7;
  --azul_cc:#48cae4;
  --azul_mt:#90e0ef;
  --azul_mtc:#ade8f4;
  --azul_Ca:#CAF0F8;

}

/*paleta substituta*/
:root{
  --verde_m:#006D77;
  --verde_c:#83c5Be;
  --branco_c:#EDF6F9;
  --branco_e:#ecfcfdb2;
   --branco_d:#dcf4fce5;
  --rose_c:#FFDDD2;
  --laranja_c:#e29578;
}


/*menu*/
.menu{
  display: inline-block;
  background-color:  #a0c8f7;
  width: 100%;
  height: 70px;
  
}
.menu h3>a{
color: black;
display: inline;
position: relative;
top: 16px;
left: 32px;
font-size: 30px;
font-family: 'Open Sans', sans-serif;

}
.perfil{
width: 49px;
position: absolute;
left: 93%;
top: 10px;
opacity: 0.5;
}



/*os links*/
a{
  text-decoration: none;
 
}


/*os links*/
a{
    text-decoration: none;
   
}


/*cabeçalho*/
.box{
    background-color: black;
    position: relative;
    margin-top: 2px;
    width: 100%;
    height: 49px;
    color: white;
    padding: 5px 15px;
    box-shadow: none;
}
.box a{
    position: relative;
    margin:8px 13px;
    top: 11px;
    left: 10%;
    color: rgba(255, 255, 255, 0.842);
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 2px;
  
}
.box a{
  background-color: var(--verde_c);
  width: 20px;
  padding: 15.6px 8px;
  margin-top: 20px;
}

header>.home{

    width: 30px;
    position: relative;
    display: inline-block;
    left: 120px;
    color: wheat;
    
}

/*sessão*/


.nav {
    transition: 1.3s;
   
  }
    section.nav ul{
      background-color:#dde5e7;
      padding: 30px 0px;
      transition: 1s; 
    }
 
  
  
  .nav ul {
    position:absolute;
    border-right: 20px;
    left: 20px;
    margin-left: -30px;
   
  }
  
  .nav li {
    list-style: none;
    padding: 5px 10px;
    margin-left: 5px;
    margin-top: 5px;
  }
  .nav li a {
    position: relative;
    color: var(--verde_m);
    font-size: 20px;
    text-decoration: none;
    padding: 6px;
    left: 20px;
    width: 240.5px;
    font-family:'Open Sans', sans-serif;
    font-weight: bolder;
  }
  
  
  section a{
    display: block;
    padding: 5px 10px;
  }
  /*Icone*/
  
  #clear{
    padding: 0px 30px;
    color: var(--verde_c);
    margin-top: -15px;
    font-size: 35.9px;
    cursor: pointer;
    font-weight: border;
    border-radius: 5px;
    position: relative;
    left: -4px;



  }
  
  .descricao #clear{
    color: black;
    background-image: url("/Menu.svg");
  }
  .descricao li{
   display: none;
  }
  .descricao a{
    cursor: none;
  }
  .descricao #lateral{
    background-color: white;

  }















